<div class="row" style="margin: 1rem;">
  <button class="btn btn-primary btn-md" [routerLink]="['/admin-food-item']">Dodaj nowy</button>
  <hr>
  <table class="table-dishes table table-hover table-borderless">
    <thead>
      <tr style="border-bottom: 1px solid #ccc; width: 100%;">
        <th (click)="sortMeal('meal')">Danie
          <i class="fa fa-fw fa-sort"></i></th>
        <th (click)="sortMeal('price')">Cena<i class="fa fa-fw fa-sort"></i></th>
        <th>Szczegóły</th>
        <th>Kasowanie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dish of dishes | paginate: config">
        <td>{{dish.meal}}</td>
        <td>{{dish.price | currency:'':''}} zł</td>
        <td><a [routerLink]="['/admin-food-item/', dish.id]">Edytuj</a></td>
        <td><button class="btn btn-danger" (click)="delete(dish.id)">Usuń</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls previousLabel="poprzedni" nextLabel="następny" (pageChange)="pageChanged($event)">
  </pagination-controls>
</div>