<div class="row">
    <ng-container>
      <div class="col" *ngFor="let dish of (dishes | async)?.value">
        <div  class="w-100">
          <div class="card"  style="width: 15rem;">
            <img src="{{dish.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{dish.meal}}</h5>
              <p class="card-text">{{dish.price}}</p>
              <button class="btn btn-primary" (click)="addToBean(dish)">Dodaj do koszyka</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  