<div class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Zamawianie jedzenia</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/food-list']">Lista posiłków</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/food']">Posiłek</a>
      </li>
    </ul>
    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>Witaj</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item"><i class="fa fa-user"></i> Edituj Profil</a>
        <div class="dropdown-item"></div>
        <a class="dropdown-item"><i class="fa fa-sign-out"></i> Wyloguj</a>
      </div>
    </div>
    <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Login" required [(ngModel)]="model.username"
        name="username">
      <input class="form-control mr-sm-2" type="password" placeholder="Hasło" required [(ngModel)]="model.password"
        name="password">
      <button class="btn btn-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">Zaloguj</button>
    </form>
  </div>
</div>