<div class="card" style="width: 15rem;">
  <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/4b4b90bf-5eb3-41a7-a239-1f1bffe470d7/Derivates/1fe30b7e-a60c-417f-b077-c43b94051ec4.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>